/*
Theme Name: Vogion
Author: Mahesh
Author URI: http://www.example.com
Description: A simple bootstrap theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: bootstrap, responsive, flat, simple, mobile ready
*/

body {
    background: #ccc;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 12px;
    line-height: 20px;
    color: #1c1c1c;
}

#container {
    background: url('bg_container.png') repeat-y;
    width: 1088px;
    margin: 0 auto 0 auto;
}
#wrap {
    background: #fff;
    width: 1088px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}


#header {
    background: #000;
    margin: 0;
    overflow: hidden;
    position: relative;
    min-height: 55px;
}
#header .logo {
    width: 25%;
    margin: 15px;
    float: left;
    color: #999999;
}
#header .logo a:hover {
    background: none !important;
}
#header .logo p {
    font-size: 10px;
    text-transform: uppercase;
    color: #ccc;
    margin: 0;
}
#header .nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 72%;
}
#header ul.nav {
    position: inherit;
    width: auto;
}
#header .nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#header .nav li {
    float: left;
}
#header .nav li a {
    display: block;
    padding: 8px 20px 7px 20px;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    border-left: 1px solid #111;
}

#header .nav li a:hover, #header .nav .current_page_item a {
    background-color: #EA038C;
    border-color: #EA038C;
}
#header .nav li ul {
    display: none;
}
#header .nav .current_page_item ul li a {
    color: #666;
}

#header .searchform {
    margin: 7px 10px 0 0;
    float: right;
}
#header .searchform .input {
    padding: 5px 5px 5px 11px;
    background: #222;
    font-size: 11px;
    color: #888;
    border: 0;

    border-radius: 25px;
    -border-radius: 25px;
    -khtml-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.nav_categories {
    background: #F1F1F2 url('bg_cat_nav.png') repeat-x;
    overflow: hidden;
}
.nav_categories li {
    float: left;
    font-size: 12px;
    border-bottom: 1px solid #eaeaea;
}
.nav_categories a {
    display: block;
    padding: 15px 10px 15px 10px;
    height: 60px;
    max-width: 140px;
    overflow: hidden;
    font-family: Georgia, 'Trebuchet MS', Helvetica, Arial;
    font-size: 18px;
}
.nav_categories a span {
    display: block;
    font-size: 12px;
    font-style: italic;
}
.nav_categories .current-cat a, .nav_categories a:hover {
    background: #EA038C;
    color: #fff;
}

.top_banner {
    clear:both;
    float:left;
    margin: 15px 0 15px 10px;
    text-align: center;
}
.footer_banner {
    clear:both;
    float:left;
    margin: 15px 0px;
    text-align: center;
}

#main {
    margin: 10px;
}
#content {
    width: 68%;
    float: left;
}
/* different content widthes based on sidebar visibility preferences */
.nosidebar #content {
    float: none !important;
    width: auto !important;
}


#sidebar {
    width: 30%;
    float: right;
    margin-top: -45px;
}


#footer {
    background: #000;
    overflow: hidden;
    margin-top: 10px;
}
#footer .content {
    margin: 20px;
}
#footer, #footer #a, .copyright a, .copyright {
    color: #fff;
}

#footerbar .widget {
    width: 28%;
    margin-right: 40px;
    float: left;
}

#footerbar .widget .widgettitle {
    background: #111;
}
#footer .widget ul li {
    border-bottom: 1px dotted #222;
}
#footer .widget a {
    color: #ccc;
}
.widget input {
    display: block;
    border: 0;
}

.copyright {
    background: #111;
    overflow: hidden;
}
.copyright .content {
    margin: 10px 10px 5px 10px;
}
.copyright .text {
    float: left;
    font-weight: bold;
    margin: 0;
}

.copyright .footer_nav {
    float: left;
    margin-left: 40px;
}
.copyright .footer_nav a {
    color: #ccc;
}
.copyright .footer_nav li {
    display: inline;
    margin-right: 10px;
}

#idesigneco {
    text-align: right;
    float: right;
}
#idesigneco a {
    display: block;
}

/* ________________________________________________________ */

.pagetitle {
    margin-bottom: 25px;
    color: #666;
}

.post {
    margin: 0 0 50px 0;
}
.post .title {
    margin: 0 0 10px 0;
    letter-spacing: -1px;
}
.post .title a {
    background: #222;
    color: #fff;
    padding: 15px;
    display: block;
}
.post .text {
    overflow: hidden;
}
.post .text a {
    text-decoration: underline;
}
.post .text h1, .post .text h2, .post .text h3, .post .text h4 {
    margin: 35px 0 10px 0;
}


.post .meta, .post .postmetadata {
    margin: 0px 0 20px 0;
    overflow: hidden;
}
.post .postmetadata {
    margin-top: 30px;
    font-weight: normal;
    font-size: 10px;
    list-style-type: none;
}
.post .meta p {
    padding: 0;
    margin: 0;
}
.post .meta .comments {
    float: left;
}
.post .meta .author {
    float: right;
}
.post .meta .tags {
    background: url('ico_tag.png') no-repeat;
    background-position: 0px 6px;
    float: right;
    padding-left: 16px;
    min-height: 12px;
    font-size: 11px;
}
.post .bigpic {
    text-align: center;
}

#homepage {
    overflow: hidden;
}

#homepage .thumb {
    position: relative;
}

#homepage li.title {
    margin: 0 0 8px 0;
    font-size: 22px;
    font-weight: normal;
    width: 100%;
    max-height: 40px;
    overflow: hidden;

    border: 0 !important;
    padding: 0 !important;
}
#homepage li.title a {
    background: #222;
    display: block;
    color: #fff;
    line-height: 10px;
    padding: 15px;
}

#homepage .slideshow {
    width: 62.5%;
    float: left;
    height: 380px;
    position: relative;
}
#homepage .slideshow .slide {
    position: absolute;
    display: none;
}
#homepage .slideshow .thumb {
    display: block;
    max-width: 440px;
    max-height: 330px;
    overflow: hidden;
}
#homepage .slideshow .thumb span {
    background: #222;
    display: block;
    padding: 6px 12px 6px 12px;
    position: absolute;
    bottom: 30px;
    left: 0;

    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
#homepage .slideshow .thumb span:hover {
    background: #EA038C;
}

#homepage .slideshow .meta span {
    display: inline;

}


#homepage .dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#homepage .dots li {
    display: inline;
}
#homepage .dots a {
    font-size: 20px;
    color: #aaa;
    margin-right: 8px;
    margin-left: 8px;
}
#homepage .dots a:hover, #homepage .dots .sel {
    background: none !important;
    color: #000 !important;
    text-decoration: none;
}


#homepage .strip {
    width: 35%;
    float: left;
}
#homepage .strip li {
    display: block;
    padding: 0 3px 3px 3px;
    background: #efefef;
    margin-bottom: 2px;
}
#homepage .strip .thumb {
    float: left;
    margin-right: 5px;
}
#homepage .strip h4 {
    width: 68%;
    float: right;
    line-height: 15px;
    margin: 0;
}
#homepage .strip .date {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 11px;
}

#homepage .featured {
    width: 228px;
    float: left;
    margin: 40px 11px 0 0;
    overflow: hidden;
}
#homepage .featured .entry {
    margin-bottom: 20px;
    border-bottom: 0px dotted #ccc;
    background: #eee;
    overflow: hidden;
    height: 290px;
}
#homepage .featured .entry h1 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: normal;
    margin: 10px;
}

#homepage .featured .entry .meta {
    margin: 10px;
}
#homepage .featured .entry .date {
    font-weight: bold;
}
#homepage .featured .entry .text {
    margin: 10px;
    height: 160px;
    overflow: hidden;
}


#homepage .meta span {
    font-style: italic;
    display: block;

}
#homepage li.clear {
    width: auto;
    height: auto;
    float: none;
    clear: both;
    border: 0;
}


.about {
    margin-top: 20px;
}
.about .title {
    text-transform: uppercase;
}

/* ________________________________________________________ */


.sticky {
    background: #f7f7f7;
    padding: 0 10px 10px;
}
.sticky h2 {
    padding-top: 10px;
}

#respond, #comments {
    margin-top: 50px;
}

#respond textarea {
    width: 95% !important;
}

.commentlist li ul li {

}

.commentlist li {
    font-weight: bold;
    background: #fff;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    -border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.commentlist li .avatar {
    float: right;
    border: 1px solid #eee;
    padding: 2px;
    background: #fff;
}

.commentlist cite, .commentlist cite a {
    font-weight: bold;
    font-style: normal;
    font-size: 1.1em;
}

.commentlist p {
    font-weight: normal;
    line-height: 1.5em;
    text-transform: none;
}


.commentmetadata {
    font-weight: normal;
}


/* ________________________________________________________ */

.widget {
    margin: 0 0 30px 0;
}
.widget ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.widget .widgettitle, .widget .title {
    background: #555;
    padding: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;

}
.widget ul li {
    border-bottom: 1px solid #eee;
}

.widgetbanners {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.widgetbanners li {
    display: inline;
    margin: 2px 2px 2px 0;
}

.ide_widget_ecosocial {
    overflow: hidden;
}
.ide_widget_ecosocial li {
    border: 0 !important;
}
.ide_widget_ecosocial ul {
    clear: both;
    background: none;
    list-style-type: none;
    width: 28%;
    padding: 0 !important;
    float: left;
}
.ide_widget_ecosocial .list {
    margin: 0px 0px 0px 10px;
    width: 90px;
}
.ide_widget_ecosocial .list li {
    margin-bottom: 6px;
}
.ide_widget_ecosocial .list li .sel {
    font-weight: bold;
}

.ide_widget_ecosocial .stats {
    width: 90px;
    float: left;
    margin: 15px 0 15px 0;
    text-align: center;
    overflow: hidden;
}
.ide_widget_ecosocial .stats li {
    display: none;
    overflow: hidden;
    text-align: center;
}
.ide_widget_ecosocial .stats a:hover {
    background: transparent !important;
}
.ide_widget_ecosocial .stats .caption {
    display: block;
}
.ide_widget_ecosocial .stats .twitter p {
    font-size: 10px !important;
}
.ide_widget_ecosocial .stats .twitter .twtr-ft {
    display: none;
}


/* ________________________________________________________ */

a {
    text-decoration: none;
    color: #1c1c1c;
}
a:hover {
    background: #EA038C;
    color: #fff;
}


a img {
    border: 0;
}

h1,h2,h3, h4 {
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: normal;
    color: #1c1c1c;
}
h1 a, h2 a, h3 a, h4 a {
    color: #1c1c1c;
}
h1 {
    letter-spacing: -1px;
    line-height: 28px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 14px;
    font-weight: bold;
}

input, select, textarea {
    border: 1px solid #ccc;
    padding: 6px;
    font-family: Helvetica, Arial;

    border-radius: 5px;
    -border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    font-size: 14px;
    color: #1c1c1c;
}

blockquote {
    background: #efefef;
    padding: 1px 5px 1px 5px;
    font-family: Georgia, Helvetica, Arial;
    font-style: italic;
}
blockquote blockquote {
    margin: 5px;
    padding: 5px;
    clear: both;
}

acronym, abbr, span.caps {
    font-size: 0.9em;
    letter-spacing: .07em;
}


.alignleft {
    float: left;
    margin: 5px 10px 5px 0;
}
.alignright {
    float: right;
    margin: 5px 0 5px 10px;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 10px auto;
    text-align: center;
}
img.alignleft {
    float: left;
    margin: 5px 10px 5px 0;
}
img.alignright {
    float: right;
    margin: 5px 0 5px 10px;
}
img.aligncenter {
    display: block;
    margin: 10px auto;
    text-align: center;
}
.wp-caption {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    padding-top: 4px;
    text-align: center;

    border-radius: 5px;
    -border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.wp-caption img {
    border: none;
    margin: 0;
    padding: 0;
}
.wp-caption p.wp-caption-text {
    color: #111;
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.noul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.button, #searchsubmit {
    background: #222;
    width: auto;
    padding: 12px;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #fff;

    border-radius: 2px;
    -border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.button:hover {
    background: #EA038C;
    color: #fff;
}

.clear {
    clear: both;
    line-height: 0;
    padding: 0;
    margin: 0;
}


/* ________________________________________________________ */
/* Color schemes */

/** purple **/
body.scheme_purple {
    background: #452632;
}
.scheme_purple #container {
    background: url('bg_container2.png') repeat-y;
}
.scheme_purple #header {
    background: #91204D;
}
.scheme_purple #header .nav li a {
    border-color: #7D1740;
}
.scheme_purple #header .searchform .input {
    background: #452632;
}

.scheme_purple #homepage .dots a:hover,
.scheme_purple #homepage .dots .sel {
    color: #91204D !important;
}

.scheme_purple #homepage li.title a,
.scheme_purple #homepage .slideshow .thumb span,
.scheme_purple .post .title a,
.scheme_purple .button,
.scheme_purple #searchsubmit {
    background: #91204D;
}

.scheme_purple .widget .widgettitle,
.scheme_purple .widget .title {
    background: #452632;
}

.scheme_purple #footer {
    background: #91204D;
}
.scheme_purple #footer .widget ul li {
    border-color: #91204D;
}

.scheme_purple #footerbar .widget .widgettitle,
.scheme_purple .copyright {
    background: #452632;
}

.scheme_purple a:hover,
.scheme_purple #header .nav .current_page_item a {
    background: #C82164 !important;
}
.scheme_purple #header .nav li a:hover,
.scheme_purple #header .nav .current_page_item a {
    border-color: #C82164;
}


/** carnival **/
body.scheme_carnival {
    background: #E5E3E3;
}
.scheme_carnival #header {
    background: #FA4B00;
}
.scheme_carnival #header .nav li a {
    border-color: #EB4600;
}
.scheme_carnival .nav_categories {
    background: #EB1C00;
}
.scheme_carnival .nav_categories li a {
    color: #fff;
}

.scheme_carnival #homepage .dots a:hover,
.scheme_carnival #homepage .dots .sel {
    color: #FA4B00 !important;
}

.scheme_carnival #homepage li.title a,
.scheme_carnival #homepage .slideshow .thumb span,
.scheme_carnival #header .searchform .input,
.scheme_carnival .post .title a,
.scheme_carnival .button,
.scheme_carnival #searchsubmit {
    background: #EB4600;
}
.scheme_carnival #header .searchform .input {
    color: #fff;
}

.scheme_carnival .widget .widgettitle,
.scheme_carnival .widget .title {
    background: #FA9900;
}

.scheme_carnival #footer {
    background: #FA4B00;
}
.scheme_carnival #footer .widget ul li {
    border-color: #DD4200;
}
.scheme_carnival #footerbar a, .scheme_carnival .copyright a {
    color: #fff;
}

.scheme_carnival #footerbar .widget .widgettitle,
.scheme_carnival .copyright {
    background: #DD4200;
}

.scheme_carnival a:hover,
.scheme_carnival #header .nav .current_page_item a {
    background: #FA9900 !important;
}
.scheme_carnival #header .nav li a:hover,
.scheme_carnival #header .nav .current_page_item a {
    border-color: #FA9900;
}


/** greenpeas **/
body.scheme_greenpeas {
    background: #E5E3E3;
}
.scheme_greenpeas #header {
    background: #8FBE00;
}
.scheme_greenpeas #header .nav li a {
    border-color: #779E00;
}

.scheme_greenpeas #homepage .dots a:hover,
.scheme_greenpeas #homepage .dots .sel {
    color: #8FBE00 !important;
}

.scheme_greenpeas #homepage li.title a,
.scheme_greenpeas .post .title a,
.scheme_greenpeas .button,
.scheme_greenpeas #searchsubmit {
    background: #8FBE00;
}

.scheme_greenpeas #homepage .slideshow .thumb span {
    background: #779E00;
}
.scheme_greenpeas #header .searchform .input {
    background: #779E00;
    color: #fff;
}

.scheme_greenpeas .widget .widgettitle,
.scheme_greenpeas .widget .title {
    background: #9AC616;
}

.scheme_greenpeas #footer {
    background: #8FBE00;
}
.scheme_greenpeas #footer .widget ul li {
    border-color: #779E00;
}
.scheme_greenpeas #footerbar .widget .widgettitle {
    background: #779E00;
}
.scheme_greenpeas #footerbar a, .scheme_greenpeas .copyright a {
    color: #fff;
}

.scheme_greenpeas .copyright {
    background: #779E00;
}

.scheme_greenpeas a:hover,
.scheme_greenpeas #header .nav .current_page_item a {
    background: #779E00 !important;
}

/** skyblue **/
body.scheme_skyblue {
    background: #E9E9E9;
}
.scheme_skyblue #header {
    background: #23B0DB;
}
.scheme_skyblue #header .nav li a {
    border-color: #189EC7;
}

.scheme_skyblue #homepage .dots a:hover,
.scheme_skyblue #homepage .dots .sel {
    color: #23B0DB !important;
}

.scheme_skyblue #homepage li.title a,
.scheme_skyblue #homepage .slideshow .thumb span,
.scheme_skyblue #header .searchform .input,
.scheme_skyblue .post .title a,
.scheme_skyblue .button,
.scheme_skyblue #searchsubmit {
    background: #21C0F1;
}
.scheme_skyblue #header .searchform .input {
    color: #8FE5FF;
}

.scheme_skyblue .widget .widgettitle,
.scheme_skyblue .widget .title {
    background: #57D8FF;
}

.scheme_skyblue #footer {
    background: #23B0DB;
}
.scheme_skyblue #footer .widget ul li {
    border-color: #21C0F1;
}
.scheme_skyblue #footerbar a, .scheme_skyblue .copyright a {
    color: #fff;
}

.scheme_skyblue #footerbar .widget .widgettitle,
.scheme_skyblue .copyright {
    background: #21C0F1;
}
.scheme_skyblue #footer a,
.scheme_skyblue .copyright .footer_nav a,
.scheme_skyblue .copyright {
    color: #fff;
}

.scheme_skyblue a:hover,
.scheme_skyblue #header .nav .current_page_item a {
    background: #21C0F1 !important;
}
.scheme_skyblue #header .nav li a:hover,
.scheme_skyblue #header .nav .current_page_item a {
    border-color: #1DB6E5;
}

/** lemon **/
body.scheme_lemon {
    background: #eee;
}
.scheme_lemon #header {
    background: #FFD600;
}
.scheme_lemon #header .nav li a {
    border-color: #FFC200;
}

.scheme_lemon .nav_categories {
    background: #FFEB00;
}
.scheme_lemon .nav_categories a:hover {
    background: #000 !important;
}
.scheme_lemon #homepage .dots a:hover,
.scheme_lemon #homepage .dots .sel {
    color: #FFD600 !important;
}

.scheme_lemon #homepage li.title a,
.scheme_lemon #homepage .slideshow .thumb span,
.scheme_lemon #header .searchform .input,
.scheme_lemon .post .title a,
.scheme_lemon .button,
.scheme_lemon #searchsubmit {
    background: #FFEB00;
    color: #000;
}

.scheme_lemon .widget .widgettitle,
.scheme_lemon .widget .title {
    background: #FFFF00;
    color: #000;
}

.scheme_lemon #footer {
    background: #FFD600;
}
.scheme_lemon #footer .widget ul li {
    border-color: #FFEB00;
}
.scheme_lemon #footer a,
.scheme_lemon .copyright .footer_nav a,
.scheme_lemon .copyright {
    color: #000;
}
.scheme_lemon #footerbar .widget .widgettitle,
.scheme_lemon .copyright {
    background: #FFEB00;
}

.scheme_lemon a:hover,
.scheme_lemon #header .nav .current_page_item a {
    background: #FFC200 !important;
}
.scheme_lemon #header .nav li a {
    color: #000;
}
.scheme_lemon #header .nav li a:hover,
.scheme_lemon #header .nav .current_page_item a {
    border-color: #FFC200;
}

/** darknight **/
body.scheme_darknight {
    background: #333;
    color: #aaa;
}
.scheme_darknight #container {
    background: url('bg_container2.png') repeat-y;
}
.scheme_darknight #wrap {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #202020;
}
.scheme_darknight h1,
.scheme_darknight h2,
.scheme_darknight h3,
.scheme_darknight h4,
.scheme_darknight h5,
.scheme_darknight a {
    color: #eee;
}
.scheme_darknight #wrap {
    background: #222;
}
.scheme_darknight #header {
    background: #222;
}
.scheme_darknight #header .nav li a {
    border-color: #444;
}

.scheme_darknight .nav_categories {
    background: #111;
}
.scheme_darknight .nav_categories li {
    border: 0;
}

.scheme_darknight #homepage .dots a:hover,
.scheme_darknight #homepage .dots .sel {
    color: #000 !important;
}

.scheme_darknight #homepage li.title a,
.scheme_darknight #homepage .slideshow .thumb span,
.scheme_darknight #header .searchform .input,
.scheme_darknight .post .title a,
.scheme_darknight .button,
.scheme_darknight #searchsubmit {
    background: #303031;
}

.scheme_darknight #homepage .strip li,
.scheme_darknight #homepage .featured .entry {
    background: #2B2B2B;
}

.scheme_darknight .widget .widgettitle,
.scheme_darknight .widget .title {
    background: #303031;
}
.scheme_darknight .widget ul li {
    border-color: #303031;
}

.scheme_darknight #footer {
    background: #333;
}
.scheme_darknight #footer .widget ul li {
    border-color: #222;
}
.scheme_darknight #footerbar .widget .widgettitle {
    background: #303031;
}
.scheme_darknight .copyright {
    background: #111;
}

.scheme_darknight a:hover,
.scheme_darknight #header .nav .current_page_item a {
    background: #303031 !important;
}
.scheme_darknight #header .nav li a:hover,
.scheme_darknight #header .nav .current_page_item a {
    border-color: #303031;
}

/** white **/
body.scheme_paper {
    background: #EEEEEE;
    font-family: Georgia;
}
.scheme_paper #container {
    background: none;
    width: auto;
}
.scheme_paper .logo a {
    background: url('logo2.png') no-repeat;
    display: block;
    width: 200px;
    height: 50px;
}
.scheme_paper .logo img {
    display: none;
}
.scheme_paper #wrap {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #e1e1e1;
}
.scheme_paper #header {
    background: #fefefe;
}
.scheme_paper #header .nav li a {
    border-color: #eee;
    font-family: Georgia;
    color: #666;
}

.scheme_paper #header .searchform .input {
    background: none;
    border: 1px solid #ddd;
}

.scheme_paper .nav_categories {
    border-top: 1px solid #eaeaea;
}

.scheme_paper #homepage .dots a:hover,
.scheme_paper #homepage .dots .sel {
    color: #000 !important;
}

.scheme_paper #homepage li.title a,
.scheme_paper #homepage .slideshow .thumb span,
.scheme_paper .post .title a,
.scheme_paper .button,
.scheme_paper #searchsubmit {
    background: #222;
}

.scheme_paper .widget .widgettitle,
.scheme_paper .widget .title {
    background: #555;
}

.scheme_paper #footer {
    background: #f5f5f5;
}
.scheme_paper #footer .widget ul li {
    border-color: #ccc;
}
.scheme_paper #footer a {
    color: #000;
}
.scheme_paper #footerbar .widget .widgettitle,
.scheme_paper #footerbar .widget .widgettitle a {
    background: #555;
    color: #fff;
}
.scheme_paper .copyright {
    background: #fff;
    color: #666;
}
.scheme_paper .copyright a {
    color: #666;
}
.scheme_paper #idesigneco a {
    background: #ccc;
}

.scheme_paper a:hover,
.scheme_paper #header .nav .current_page_item a {
    background: #000 !important;
}
.scheme_paper #header .nav li a:hover,
.scheme_paper #header .nav .current_page_item a {
    border-color: #000;
    color: #fff;
}


div.privacy_policy {
    margin: 5px 0px 10px;
}

#sidebar .ide_widget_ecosocial {
    float: left;
    margin: 0px 20px;
}

#sidebar .cd-fb-like-widget {
    clear:both;
}

#sidebar .adswidget {
    margin-left: 10px;
    float: left;
}

iframe body {
    margin: 0px;
    padding: 0px;
}